*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f0f0f;
color:white;
}


/* HEADER */

.header{

display:flex;
align-items:center;
justify-content:space-between;

padding:10px 20px;

background:#181818;

position:fixed;
top:0;

width:100%;

z-index:1000;

}

.left{
display:flex;
align-items:center;
gap:15px;
}

.menu-btn{

font-size:22px;

background:none;
border:none;

color:white;

cursor:pointer;

}

#logoM{
width: 50px;
}

.search{

display:flex;
width:40%;

}

.search input{

flex:1;
padding:8px;

background:#121212;

border:1px solid #333;

color:white;

}

.search button{

padding:8px 12px;

background:#333;

border:none;

color:white;

cursor:pointer;

}

.login{

background:#333;
border:none;

padding:8px 14px;

color:white;

cursor:pointer;

}


/* SIDEBAR */

.sidebar{

position:fixed;

left:-220px;

top:60px;

width:220px;

height:100%;

background:#181818;

display:flex;

flex-direction:column;

padding-top:20px;

transition:0.3s;

z-index:999;

}

.sidebar a{

padding:15px 20px;

color:white;

text-decoration:none;

}

.sidebar a:hover{

background:#333;

}

.sidebar.active{

left:0;

}


/* CARROSSEL */

.carousel-container{

width:90%;

height:50vh;

margin-top:90px;

margin-left:auto;
margin-right:auto;

position:relative;

display:flex;

align-items:center;

justify-content:center;

}

.carousel{

width:100%;
height:100%;

position:relative;

overflow:hidden;

border-radius:10px;

}

.slide{

position:absolute;

width:100%;
height:100%;

opacity:0;

transition:opacity 0.6s;

text-decoration:none;

color:white;

}

.slide.active{

opacity:1;

}

.slide img{

width:100%;
height:100%;

object-fit:cover;

}

.slide-info{

position:absolute;

bottom:30px;
left:30px;

background:rgba(0,0,0,0.6);

padding:15px;

border-radius:8px;

}


/* BOTÕES */

.prev,
.next{

position:absolute;

top:50%;

transform:translateY(-50%);

background:rgba(0,0,0,0.5);

border:none;

font-size:25px;

color:white;

padding:10px;

cursor:pointer;

z-index:5;

}

.prev{

left:20px;

}

.next{

right:20px;

}


/* CONTEÚDO */

.content{

padding:30px;

}

.grid{

margin-top:20px;

display:grid;

grid-template-columns:repeat(auto-fill,minmax(250px,1fr));

gap:20px;

}

.card{

background:#202020;

height:160px;

display:flex;

align-items:center;

justify-content:center;

border-radius:6px;

text-decoration:none;

color:white;

transition:0.3s;

}

.card:hover{

transform:scale(1.05);

background:#2a2a2a;

}