.shop-content{

margin-top:90px;
padding:20px;

}

.shop-row{

margin-bottom:40px;

}

.shop-row h2{

margin-bottom:10px;

}

.carousel-row{

display:flex;
gap:20px;

overflow-x:auto;

padding-bottom:10px;

}

.product{

min-width:200px;

background:#202020;

padding:10px;

border-radius:8px;

text-align:center;

}

.product img{

width:100%;

border-radius:6px;

}

.product button{

margin-top:10px;

background:#ff4d4d;

border:none;

padding:8px;

color:white;

cursor:pointer;

width:100%;

}

#cartCount{

background:red;

padding:2px 6px;

border-radius:50%;

font-size:12px;

}